{% extends 'accounts/base.html' %} {% block title %} Dashboard {% endblock title %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}"> {% endblock head %} {% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 drawer shadow my-auto">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-dashboard-tab" data-toggle="pill" href="#v-pills-dashboard" role="tab" aria-controls="v-pills-dashboard"
                    aria-selected="true">Dashboard</a>
                <a class="nav-link" id="v-pills-all-expenses-tab" data-toggle="pill" href="#v-pills-all-expenses" role="tab" aria-controls="v-pills-all-expenses"
                    aria-selected="false">All expenses</a>
                <a class="nav-link" id="v-pills-report-tab" data-toggle="pill" href="#v-pills-report" role="tab" aria-controls="v-pills-report"
                    aria-selected="false">Report</a>
                <a class="nav-link" id="v-pills-activies-tab" data-toggle="pill" href="#v-activies-messages" role="tab" aria-controls="v-pills-activies"
                    aria-selected="false">Activities</a>
                <a class="nav-link" id="v-pills-contact-tab" data-toggle="pill" href="#v-pills-contact" role="tab" aria-controls="v-pills-contact"
                    aria-selected="false">Contact Support</a>
            </div>
        </div>
        <div class="col-md-9 shadow" style="background-color: white;">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">

                </div>
                <div class="tab-pane fade" id="v-pills-all-expenses" role="tabpanel" aria-labelledby="v-pills-all-expenses-tab"></div>
                <div class="tab-pane fade" id="v-pills-report" role="tabpanel" aria-labelledby="v-pills-report-tab"></div>
                <div class="tab-pane fade" id="v-pills-activies" role="tabpanel" aria-labelledby="v-pills-activies-tab"></div>
                <div class="tab-pane fade" id="v-pills-contact" role="tabpanel" aria-labelledby="v-pills-contact-tab"></div>
            </div>
        </div>
    </div>
</div>




{% endblock body %}