{% extends 'accounts/auth.html' %}

{% block title %}
    User Login
{% endblock title %}
    
{% block heading %}
    Login
{% endblock heading %}
    
{% block auth %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        {{ form.username.errors }} {{ form.username.label_tag }}
        <input type="text" class="form-control" name="{{ form.username.html_name }}" autofocus maxlength="254" required id="{{ form.username.id_for_label }}"> {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.password.errors }} {{ form.password.label_tag }}
        <input type="password" class="form-control" name="{{ form.password.html_name }}" required id="{{ form.password.id_for_label }}"> {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="">Forgot Password?</a>
        </div>
        <div class="col-sm-6 text-right">
            <a href="{% url 'accounts:register' %}">Register</a>
        </div>
    </div>
    <button style="margin-top: 25px;" type="submit" class="btn btn-primary w-25">Submit</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock auth %}