{% extends 'accounts/auth.html' %}


{% block title %}
    User Registration
{% endblock title %}
    
{% block heading %}
    Registration
{% endblock heading %}

{% block auth %}

    
<form method="POST">
    {% csrf_token %} {% for field in form %}
    <div class="form-group">
        {{ field.errors }} {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <button style="margin-top: 15px;" type="submit" class="btn btn-primary w-25">Submit</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock auth %}