{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h4>Dashboard</h4>
        </div>
    </div>
    <div class="row first-row" style="padding-top: 15px;padding-bottom: 15px;">
        <div class="col-md-1"></div>
        <div class="col-md-4 col-br" data-toggle="modal" id="addContainer">
            <img src="{% static 'images/dollar.png' %}" class="img-fluid d-block mx-auto" width="60" height="60" alt="expense logo">
            <h6 class="txt-primary text-center">New Expense</h6>
        </div>
        <!-- <div class="col-md-3 col-br">
            <img src="{% static 'images/dollar.png' %}" class="img-fluid d-block mx-auto" width="60" height="60" alt="expense logo">
            <h6 class="txt-primary text-center">New Report</h6>
        </div> -->
        <div class="col-md-4 col-br" data-toggle="modal" data-target="#budgetModal">
            <img src="{% static 'images/dollar.png' %}" class="img-fluid d-block mx-auto" width="60" height="60" alt="expense logo">
            <h6 class="txt-primary text-center">Budget</h6>
        </div>

    </div>
    <div class="container mt-15" style="border: 1px solid #cccccc;">
        <div class="row">
            <div class="col-sm-12">
                <h6 class="text-default mt-15">Report This Month</h6>
            </div>
        </div>
        <hr>
        <div class="row mb-15">
            <div class="col-md-2 col-br">
                <h6 class="text-muted text-center">Total</h6>
                <h6 class="txt-primary text-center">₹{{ total_expense }}</h6>
            </div>
            <div class="col-md-4 col-br">
                <h6 class="text-success text-center">Budget</h6>
                <h6 class="txt-primary text-center">₹{{ budget }}</h6>
            </div>
            <div class="col-md-4 col-br">
                <h6 class="text-danger text-center">Remaining</h6>
                <h6 class="txt-primary text-center">₹{{ remaining }}</h6>
            </div>
        </div>
    </div>
    <div class="row mt-15">
        <div class="col-sm-12 text-center">Top 10 Expense This Month</div>
    </div>

    <!-- budget modal -->
    {% include 'expense_manager/modal/budget.html' with form=budget_form %}
    <!-- top 10 expense this month -->
    {% include 'expense_manager/dashboard/expense_list.html' with expenses=top_10 tastypie_image_url='T' %}
</div>