<div class="modal fade" id="budgetModal" tabindex="-1" role="budgetModalLabeldialog" aria-labelledby="budgetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="budgetModalLabel">Budget</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <h5>Month: <span class="text-muted">{{ month }}</span></h5>
                        <label for="budget"></label>
                        <input type="number" class="form-control" step="0.01" id="budget" placeholder="Enter Budget">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="budgetButton" data-budget="{{ budget }}" data-uid="{{ budget_id }}" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>